.signin{
    width: 100%;
    height: 71vh;
    background: #f3c3fe;
    padding-top: 100px;
}
.signin-container{
    width: 580px;
    height: 485px;
    background: white;
    margin: auto;
    padding: 40px 70px;
}
.signin-container h1{
    margin: 20px 0px;
}
.signin-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.signin-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.signin-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #2cfd79;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.signin-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.signin-login span{
    color: #ff4141;
    font-weight: 600;
}
.signin-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .signin{
        padding-top: 50px;
    }
    .signin-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .signin-container h1{
        margin: 10px 0px;
    }
    .signin-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .signin-fields input{
        height: 65px;
        width: 93%;
    }
    .signin-container button{
        width: 100%;
    }
    .signin-login{
        font-size: 16px;
    }
    .signin-agree{
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px){
    .signin-container{
        padding: 20px 30px;
    }
    .signin-container h1{
        font-size: 24px;
    }
    .signin-fields{
        margin-top: 20px;
    }
    .signin-fields input{
        height: 50px;
    }
    .signin-container button{
        height: 50px;
        font-size: 16px;
    }
}